# Don't commit SSL certificate stores
net/acme/*.json
# Don't commit the Postgres database
pg/data
# Don't commit executed config templates
kratos.yml
hydra.yml
keto.yml
# Don't commit the mailslurper db
mailslurper.db
# Any file-based customizations for local work are ignored
overrides/**